<h1>Skills</h1>
<div class="d-flex justify-content-end">
  <a class="btn btn-success align-content-xl-end btn-lg" routerLink="/skill/new" routerLinkActive="active">New Skill</a>
</div>
<div *ngIf="skills; then thenBlock else elseBlock"></div>
<ng-template #thenBlock>
  <table class="table table-striped table-light">
    <thead class="thead-light">
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let skill of skills">
      <td>{{ skill.name }}</td>
      <td>
        <a class="btn btn-primary" [routerLink]="['/skill', skill.id]">Show</a>&nbsp;
        <a class="btn btn-danger" [routerLink]="['/skill', skill.id, 'edit']">Edit</a>
      </td>
    </tr>
    </tbody>
  </table>
</ng-template>

<ng-template #elseBlock>
  <p style="color: red">No skill found, possible HTTP request failing</p>
</ng-template>
