<div class="header">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid" id="navbarNavDropdown">
      <div class="navbar-brand navbar-left">
        <img src="assets/images/logo.jpg" class="rounded-circle" height="42" width="42">
        <small style="font-family: Optima; font-size: 1em">&nbsp;SI2001</small>
      </div>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
       <!-- {% if is_granted('IS_AUTHENTICATED_FULLY') %} -->
        <li class="nav-item-active border-left">
          <a routerLink="/user" routerLinkActive="active" class="nav-item nav-link active" data-toggle="tooltip" data-placement="bottom" title="SI2001 employees">Employees</a>
        </li>
        <!-- {% if is_granted('ROLE_ADMIN') %} -->
        <li class="nav-item-active">
          <a routerLink="/skill" routerLinkActive="active" class="nav-item nav-link active" data-toggle="tooltip" data-placement="bottom" title="Programming abilities">Skills</a>
        </li>
        <li class="nav-item-active">
          <a routerLink="/status" routerLinkActive="active" class="nav-item nav-link active" data-toggle="tooltip" data-placement="bottom" title="Civil status">Marital List</a>
        </li>
      </ul>
      <ul class="navbar-nav navbar-right">
        <form class="form-inline" (ngSubmit)="onSubmit()" #navbar="ngForm">
          <label for="input">Search users by country &nbsp;</label>
          <input class="form-control mr-sm-2" id="input" type="search" [(ngModel)]="input" name="input" placeholder="Country" aria-label="Search" required>
          <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>&nbsp;
        </form>
        <li class="nav-item dropdown border-left">
          <div id="container">
            <img src="assets/images/user.png" height="30" width="30" style="display: inline">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="display: inline">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <h6 class="dropdown-header">Actions</h6>
              <a class="dropdown-item" href="">My profile</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="">Logout</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>
