<h1>Skill</h1>
<div [hidden]="submitted">
  <div class="myform">
    <table class="table">
      <tbody>
      <tr>
        <th>Name</th>
        <td>{{ skill.name }}</td>
      </tr>
      </tbody>
    </table>
    <form (ngSubmit)="onSubmit()">
      <a class="btn btn-info" routerLink="/skill" routerLinkActive="active">Back to list</a>&nbsp;
      <a class="btn btn-warning" [routerLink]="['/skill', skill.id, 'edit']">Edit</a>&nbsp;
      <button type="submit" class="btn btn-danger" (click)="deleteSkill()">Delete</button>
    </form>
  </div>
</div>
<div class="myform" [hidden]="!submitted">
  <h2>You successfully deleted the skill</h2>
  <a class="btn btn-info" routerLink="/skill" routerLinkActive="active">Back to list</a>
</div>
